<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사장님 페이지</title>

</head>
<body>
<div>
<!--    <h2>사장님 잔액: <span th:text="${mainResponseDto.ownersPoint}"></span></h2>-->
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문시간</th>
            <th>메뉴이름</th>
            <th>주문상태</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${mainResponseDto.orderList}">
            <td th:text="${order.orderId}"></td> <!-- 주문 ID 출력 -->
            <td th:text="${order.createdAt}"></td> <!-- 주문 생성 일자 및 시간 출력 -->
            <td th:text="${order.menuName}"></td> <!-- 주문한 메뉴의 이름 출력 -->
            <td id="status_${order.orderId}" th:text="${order.orderStatus}"></td> <!-- 주문 상태 출력 -->
            <!-- 주문 상태가 '배달 완료'가 아닌 경우에만 배달 완료 버튼을 출력 -->
            <td th:unless="${order.orderStatus == '배달 완료'}">
                <form th:action="@{'/v2/deliverys/' + ${order.orderId}}" method="post">
                    <button type="submit">배달완료</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
