<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta charset="UTF-8">
    <title>결제 완료</title>
</head>
<body>
<h1>결제가 완료되었습니다!</h1>
<p>잔액: <span id="remainingPoints" th:text="${remainingPoints}"></span></p>
<button onclick="goToMain()">메인화면</button>
<script>
    // remainingPoints 값 가져오기
    var remainingPoints = parseInt(document.getElementById('remainingPoints').innerText);

    // remainingPoints가 -1일 경우
    if (remainingPoints === -1) {
        // alert 표시
        alert("잔액이 부족합니다. 포인트 충전 페이지로 이동합니다.");
        // 뒤로 이동
        window.location.href = "/v2/charge";
    }
    // 메인화면으로 이동하는 함수
    function goToMain() {
        window.location.href = "/v1";
    }
</script>

</body>
</html>
