<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deliever_Hang_Hae</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">



</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html,
    body {
        height: 100%;
    }

    .form-charge {
        max-width: 330px;
        padding: 1rem;
    }

    .form-charge .form-floating:focus-within {
        z-index: 2;
    }

    .custom-search-input {
        width: 300px;
        /* Adjust the width as needed */
        height: 40px;
        /* Adjust the height as needed */
        margin-right: 10PX;
    }


</style>


<body>

<!-- 헤더 네비게이션 영역 -->
<header data-bs-theme="dark">
    <!-- nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a th:href="@{/v1}" class="navbar-brand d-flex align-items-center">
                <img th:src="@{/images/logo.png}" width="200em" height="auto" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:logout()">로그아웃</a>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/v1}">HOME</a>
                    </li>
                </ul>
            </div>
            <form class="d-flex" role="search"  th:action="@{/v1/search}" method="get">
                <input class="form-control custom-search-input" type="search" name="searchMenu" placeholder="먹고싶은 음식을 검색해 보세요" aria-label="Search">
                <button class="btn btn-light" type="submit">검색</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<main class="form-charge w-100 m-auto">

    <div id="charge">
        <div class="content">
            <div class="header text-center">
                <h1 class="title fs-5 fw-bold">$ 결제가 완료되었습니다 $</h1>

            </div>
            <div class="body text-center">
                <div class="mb-3">
                    <label for="remainingPoints" class="col-form-label fs-6">잔액 : </label>
                    <span id="remainingPoints" th:text="${remainingPoints}"></span>
                </div>

                <button class="btn btn-primary" onclick="goToMain()">메인화면</button>

            </div>
        </div>
    </div>
</main>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>

    $(document).ready(function () {
        const auth = getToken();
        if (auth) {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', auth);
            });
        } else {
            // 유저 정보 없으면 login page로 redirect
            window.location.href = host + '/login';
            return;
        }
    });


    // remainingPoints 값 가져오기
    var remainingPoints = parseInt(document.getElementById('remainingPoints').innerText);

    // remainingPoints가 -1일 경우
    if (remainingPoints === -1) {
        // alert 표시
        alert("잔액이 부족합니다. 포인트 충전 페이지로 이동합니다.");
        // 뒤로 이동
        window.location.href = "/v2/charge";
    }
    // 메인화면으로 이동하는 함수
    function goToMain() {
        window.location.href = "/v1";
    }


    function logout() {
        // AccessToken 삭제
        Cookies.remove('Authorization', {path: '/'});
        window.location.href = host + '/v1/login';
    }


</script>
</body>

</html>