<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deliever_Hang_Hae</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        html,
        body {
            height: 100%;
        }

        .form-signup {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signup .form-floating:focus-within {
            z-index: 2;
        }

        .form-signup input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signup input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>


<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-signup w-100 m-auto">

    <div id="signup">
        <div class="content">
            <div class="header">
                <img class="mb-4" th:src="@{/images/logo.png}" alt="" width="100rem" height="57">
                <h1 class="title fs-5 fw-bold">회원 가입</h1>

            </div>
            <div class="body">

                <div class="mb-3">
                    <label for="verification-email" class="col-form-label">mail address</label>
                    <input type="email" class="form-control" name="verification-email" id="verification-email"
                           placeholder="E-mail">
                    <button id="verify-code-btn" class="btn btn-primary btn-sm mt-2" onclick="sendMailVerification()">메일
                        인증</button>
                </div>

                <div class="mb-3">
                    <label for="verification-code" class="col-form-label">인증번호</label>
                    <input class="form-control" id="verification-code" placeholder="Verification Code">
                    <button id="verify-btn" class="btn btn-primary btn-sm  mt-2" onclick="checkVerification()">인증번호 확인</button>
                </div>

                <form id="signup-form" action="/signup" method="post" onsubmit="return submitForm()">
                    <div class="mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Password">
                    </div>

                    <div class="mb-3">
                        <input type="password" class="form-control" name="confirm-password" id="confirm-password"
                               placeholder="비밀번호 확인" onkeyup="validatePassword()">
                    </div>
                    <div class="mb-3" id="password-match" style="color: red;"></div>

                    <div class="mb-3">
                        <label for="address">주소</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                    </div>

                    <div class="mb-3">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname">
                    </div>

                    <!-- 에러 및 인증 메시지 표시를 위한 요소 -->
                    <div id="message-box" style="color: red;">
                        <p th:text="${ErrorMessage}" style="color: red;"></p>
                    </div>

                    <!-- 회원 가입 버튼 -->
                    <button id="signup-btn" class="btn btn-primary w-100" onclick="submitForm()">회원 가입</button>

                    <!-- 이메일 값을 전달하기 위한 숨겨진 input 필드 -->
                    <input type="hidden" id="email" name="email">

                </form>
            </div>
        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>
    let verificationResult;

    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;

        if (password != confirmPassword) {
            document.getElementById("password-match").innerHTML = "비밀번호와 비밀번호 확인란의 문자가 다릅니다.";
        } else {
            document.getElementById("password-match").innerHTML = "";
        }
    }

    // 인증번호 검증 기능
    function checkVerification() {
        let verificationCode = document.getElementById("verification-code").value;

        // verificationResult가 정의되지 않았거나, 인증 번호가 일치하지 않는 경우 에러 메시지 표시
        if (!verificationResult || verificationCode !== verificationResult.number) {
            showMessage("인증번호가 올바르지 않습니다.", "red");
            return false;
        }

        // 인증이 성공한 경우에만 초록색으로 메시지를 표시하도록 변경
        showMessage("인증이 완료되었습니다.", "green");
        document.getElementById("verification-email").readOnly = true;
        return true;
    }

    // 에러 및 인증 메시지 표시
    function showMessage(message, color) {
        const messageDiv = document.getElementById("message-box");
        messageDiv.innerHTML = message;
        messageDiv.style.color = color;
    }

    // 이메일 인증 요청
    function sendMailVerification() {
        var formData = {
            mail: $("input[name='verification-email']").val()
        };

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/mailSend", // 회원가입 처리를 하는 엔드포인트 주소
            data: JSON.stringify(formData),
            dataType: 'json',
            success: function (result) {
                verificationResult = result;
                alert("이메일로 인증 번호가 발송되었습니다. 이메일을 확인하세요.");
            },
            error: function (xhr, status, error) {
            }
        });
    }

    // 회원 가입 폼 전송
    function submitForm() {
        let email = document.getElementById("verification-email").value;
        if (email === "") {
            showMessage("이메일을 입력해주세요.", "red");
            return false;
        }
        if (!checkVerification()) {
            showMessage("이메일 인증을 먼저 완료해주세요.", "red");
            return false;
        }
        document.getElementById("email").value = email;
        return true;
    }
</script>
</body>

</html>